/* src/index.css */
body {
  font-family: Arial, sans-serif;
  background-color: darkblue;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

input, button {
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

.mainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  width: 70%;
  padding: 50px;
}

.inputText{
  margin-bottom: 20px;
}
